.acf-hero {
  &__container {
    min-height: 42rem;
    justify-content: center;
    padding-top: 14.6rem;
    padding-bottom: 5rem;

    @include breakpoint(desktop) {
      padding-top: 14.6rem;
    }

    .acf-image {
      margin: 0;
    }
  }
}
