@mixin button-base {
  @include transition(background-color);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 1.6rem 3rem;
  margin: 0.5rem;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: $brand_button_radius;
  transform: perspective(1px) translateZ(0);
}

@mixin button-size($height) {
  height: em($height, 16);
}

@mixin button-variant($color, $background, $border, $hover-background: null) {
  color: $color;
  background-color: $background;
  border: 1px solid $border;

  &:hover,
  &:focus {
    @include transition(background-color);

    @if $hover-background {
      background-color: $hover-background;
    }
  }
}

@mixin button-primary {
  @include button-base();
  @include button-variant(
    $brand_white,
    $brand_primary,
    $brand_primary,
    $brand_primary_active
  );
}

@mixin button-outline {
  @include button-base();
  @include button-variant(
    $brand_secondary,
    transparent,
    $brand_secondary,
    rgba($brand_secondary, 0.2)
  );
}

@mixin button-secondary {
  @include button-base();

  color: $brand_secondary;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $brand_primary_active;
  }
}
