.acf-custom-list {
  position: relative;
  padding: 0;
  list-style: none;
  z-index: 1;

  .acf-bg-image {
    z-index: -1;
  }

  &.swiper {
    @include breakpoint(until_lg) {
      width: 100%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
    }
  }

  .swiper-container,
  .swiper-wrapper {
    @include breakpoint(lg) {
      display: contents;
    }
  }

  .swiper-slide {
    position: relative;
    box-sizing: border-box;
  }

  &__navigation {
    margin-top: 1.6rem;

    @include breakpoint(lg) {
      display: none;
    }

    /** Swiper dot pagination */
    .swiper-pagination {
      position: initial;
      display: flex;
      justify-content: center;
      gap: 0.6rem;

      &-bullet {
        opacity: 1;
        background-color: rgba($brand_black, 0.4);

        &-active {
          background-color: $brand_black;
        }
      }
    }
  }
}
