.acf-tab-wrap {
  &.-left {
    .acf-tab-group {
      width: 10%;
    }
  }
}

.acf-fields {
  &.-sidebar {
    &:before {
      width: 10%;
    }

    padding: 0 0 0 10% !important;
    position: relative;
  }
}

.radio_colors {
  .radio_color_box {
    height: 24px;
    width: 60px;
    box-shadow: 0 0 0 1px #ccc;
    border: #f8f8f8 solid 4px;
    border-radius: 5px;
  }

  ul.acf-radio-list {
    display: flex;

    li + li {
      margin-left: 0.5rem;
    }
  }

  input {
    display: none;

    &:checked + .radio_color_box {
      box-shadow: 0 0 0 4px #1e8cbe;
    }
  }
}
