$breakpoints: (
  'xs': 'screen and (min-width: em(321, 16))',
  'sm': 'screen and (min-width: em(576, 16))',
  'until-md': 'screen and (max-width: em(767, 16))',
  'md': 'screen and (min-width: em(768, 16))',
  'until-lg': 'screen and (max-width: em(991, 16))',
  'lg': 'screen and (min-width: em(992, 16))',
  'until-xl': 'screen and (max-width: em(1199, 16))',
  'xl': 'screen and (min-width: em(1200, 16))',
  'until-xxl': 'screen and (max-width: em(1599, 16))',
  'xxl': 'screen and (min-width: em(1600, 16))',
  'xxxl': 'screen and (min-width: em(1920, 16))',
);

$navbar_until_breakpoint: map-get($breakpoints, 'until-xl');
$navbar_breakpoint: map-get($breakpoints, 'xl');
