@function em($pixels, $context: $base_font_size_px) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return calc($pixels / $context) * 1em;
}

@function rem($pixels, $context: 10) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return calc($pixels / $context) * 1rem;
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        // stylelint-disable-next-line scss/operator-no-newline-after
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function px-vw($px, $vw: 1920) {
    $viewport: $vw * 0.01 * 1px;

    @return calc($px / $viewport) * 1vw;
    @return $px;
}
