/* stylelint-disable */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  font-family: $font_base;
  font-size: $base_font_size;
  line-height: 1.6;
  color: $brand_base;
  background: $brand_base_bg;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

textarea {
  resize: none;
}

input,
select,
button,
textarea {
  padding: 0;
  font: inherit;
  background-color: transparent;
  -webkit-appearance: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* Autofill styles */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition-delay: 9999s;
  transition-property: color, background;
}

svg {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include letter-spacing();
  margin: 0;
  font: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

iframe {
  max-width: 100%;
  border: none;
}

img {
  display: block;
  max-width: 90vw;
  margin: 0 auto;

  @include media('md') {
    max-width: 100%;
  }
}

.container {
  max-width: 140.2rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin: 0 auto;
}

.acfm-mobile-align {
  @include media('until-md') {
    text-align: center;
  }
}
