// stylelint-disable
@mixin breakpoint($user-value) {
  $value: map-get($breakpoints, $user-value);
  @if $value {
    @media (#{$value}) {
      @content;
    }
  } @else {
    @warn "This breakpoint '#{$user-value}' isn't supported yet";
  }
}

@mixin svg-size($width, $height, $newHeight) {
  $aspectRatio: $width / $height;
  $newWidth: ($newHeight * $aspectRatio);
  width: em($newWidth);
  height: em($newHeight);
}

@mixin secondary-font() {
  @if ($font_secondary) {
    font-family: $font_secondary;
  }
}

@mixin letter-spacing() {
  @if ($letter_spacing) {
    letter-spacing: $letter_spacing;
  }
}

@mixin font-size-xs {
  font-size: 1.4rem;
}

@mixin font-size-sm {
  font-size: 1.6rem;
  line-height: 2rem;

  @include breakpoint(desktop) {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@mixin font-size-md {
  font-size: 1.8rem;
  line-height: 2rem;

  @include breakpoint(desktop) {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@mixin font-size-lg {
  font-size: 2.4rem;
  line-height: 2.8rem;

  @include breakpoint(desktop) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@mixin font-size-xl {
  font-size: 4.4rem;
  line-height: 4.6rem;

  @include breakpoint(desktop) {
    font-size: 7.2rem;
    line-height: 7rem;
  }
}

@mixin button {
  @include font-size-xs();
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  min-width: 23.6rem;
  width: fit-content;
  height: 4.3rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  font-weight: $font_weight_black;
  transition: all 0.3s ease;
  box-sizing: border-box;
  text-transform: uppercase;

  .btn-label {
    width: 100%;
  }
}

@mixin button-primary {
  @include button();
  border-radius: 5rem;
  color: $brand_white;
  background-color: $brand_primary;
  border: 2px solid $brand_primary;

  &:hover,
  &:focus {
    color: $brand_base;
    background-color: $brand_secondary;
    border-color: $brand_secondary;
  }
}

@mixin button-secondary {
  @include button();
  border-radius: 5rem;
  color: $brand_gray;
  background-color: $brand_secondary;
  border: 2px solid $brand_secondary;

  &:hover,
  &:focus {
    color: $brand_white;
    background-color: transparent;
    border-color: $brand_white;
  }
}

@mixin button-outline {
  @include button();
  border-radius: 2.4rem;
  border: 2px solid $brand_primary;
  color: $brand_primary;

  &:hover,
  &:focus {
    color: $brand_white;
    background-color: $brand_primary;
    border-color: $brand_primary;
  }
}

@mixin button-outline-white {
  @include button();
  border-radius: 2.4rem;
  border: 2px solid $brand_white;
  color: $brand_white;

  &:hover,
  &:focus {
    color: $brand_base;
    background-color: $brand_secondary;
    border-color: $brand_secondary;
  }
}