@import '../configs/maps/colors';

/** Font */
$font_base:
  #{'General Sans/*!rtl:Cairo*/'},
  sans-serif;

$font_secondary: false;
$letter_spacing: false;

$base_font_size: #{calc($base_font_size_px / 10)}rem;

/** Brand border-radius */
$brand_border_radius: 2rem;

/** Header colors */
$header_initial_background: $brand_base;
$header_sticky_background: $brand_base;
$header_link_color: $brand_base;