@import '../configs/maps/colors';

/** Font */
$font_base:
  #{'General Sans/*!rtl:Cairo*/'},
  sans-serif;

$font_secondary: false;
$letter_spacing: false;

$base_font_size: #{calc($base_font_size_px / 10)}rem;
