.acf-btn {
  @include button-size(55);

  &-primary {
    @include button-primary();
  }

  &-secondary {
    @include button-secondary();
  }

  &-outline {
    @include button-outline();
  }

  &:not(:first-child) {
    margin-left: 1em;

    @include media('md') {
      margin-left: 1em;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.acf-buttons {
  margin-bottom: 1em;

  @include media('md') {
    margin-bottom: 0.5em;
  }
}
