.acf-row {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &--reverse-columns {
    flex-direction: column-reverse;
  }

  &__col {
    width: 100%;

    .acf-image {
      img {
        width: 100%;
      }
    }
  }

  @include media('md') {
    flex-flow: row wrap;

    &--md {
      // Already handled by parent media query
    }

    &--center {
      justify-content: center;
    }

    &--between {
      justify-content: space-between;
    }

    &--around {
      justify-content: space-around;
    }

    &--align-center {
      align-items: center;
    }

    &__col {
      flex: 1;
    }
  }

  @include media('lg') {
    flex-flow: row wrap;
  }
}
