.acfm-text {
    line-height: (28 / 18);

    &:not(:last-child) {
        padding-bottom: 1em;
    }

    &-align {
        &-center {
            text-align: center;
        }
    }

    &-color {
        &-white {
            color: $brand_white;
        }

        &-dark {
            color: $brand_dark;
        }

        &-light {
            color: $brand_light;
        }

        &-gray {
            color: $brand_gray;
        }

        &-highlight {
            color: $brand_highlight;
        }

        &-primary {
            color: $brand_primary;
        }

        &-secondary {
            color: $brand_secondary;
        }
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-xs {
        @include font-size-xs();
    }

    &-sm {
        @include font-size-sm();
    }

    &-md {
        @include font-size-md();
    }

    &-lg {
        @include font-size-lg();
    }

    &-xl {
        @include font-size-xl();
    }

    &-light {
        font-weight: $font_weight_light;
    }

    &-medium {
        font-weight: $font_weight_medium;
    }

    &-bold {
        font-weight: $font_weight_bold;
    }

    &-contain {
        @media #{$xl} {
            max-width: em(860, 16);
            padding: 0 2.5rem;
            margin: 0 auto;
        }
    }
}

.acfm-title i {
    font-style: normal;
    color: $brand_primary;
}
