.acf-btn {
  &-primary {
    @include button-primary();
  }

  &-secondary {
    @include button-secondary();
  }

  &-outline {
    @include button-outline();
  }

  &-outline-white {
    @include button-outline-white();
  }
}

.acf-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.4rem;

  @include breakpoint(lg) {
    gap: 3rem;
  }

  .text-center-mobile & {
    @include breakpoint(until_lg) {
      justify-content: center;
    }
  }

  // stylelint-disable selector-class-pattern
  .lg\:text-center & {
    @include breakpoint(lg) {
      justify-content: center;
    }
  }
}
