.acf-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  order: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;

  &-hide-mobile {
    @include breakpoint(until_desktop) {
      display: none;
    }
  }

  &-hide-desktop {
    @include breakpoint(desktop) {
      display: none;
    }
  }
}
