.acf-margin {
  &-xs {
    margin-bottom: $spacing_1;
  }

  &-sm {
    margin-bottom: $spacing_2;
  }

  &-md {
    margin-bottom: $spacing_3;
  }

  &-lg {
    margin-bottom: $spacing_4;
  }

  &-xl {
    margin-bottom: $spacing_5;
  }
}
