.acf-margin {
  &-xs {
    margin-bottom: 0.8rem;
  }

  &-sm {
    margin-bottom: 1.6rem;
  }

  &-md {
    margin-bottom: 2.4rem;
  }

  &-lg {
    margin-bottom: 3.2rem;
  }

  &-xl {
    margin-bottom: 4rem;
  }
}
