@mixin padding($padding, $desktop-padding) {
  padding-top: $padding;
  padding-bottom: $padding;

  @include breakpoint(desktop) {
    padding-top: $desktop-padding;
    padding-bottom: $desktop-padding;
  }
}

@mixin padding-top($padding, $desktop-padding) {
  padding-top: $padding;
  padding-bottom: $spacing_2;

  @include breakpoint(desktop) {
    padding-top: 0;
    padding-bottom: $desktop-padding;
  }
}

@mixin padding-bottom($padding, $desktop-padding) {
  padding-top: $spacing_2;
  padding-bottom: $padding;

  @include breakpoint(desktop) {
    padding-top: $desktop-padding;
    padding-bottom: 0;
  }
}

.acf-normal-padding {
  @include padding($spacing_3, $spacing_4);
}

.acf-large-padding {
  @include padding($spacing_4, $spacing_5);
}

.acf-small-padding {
  @include padding($spacing_2, $spacing_3);
}

.acf-smallest-padding {
  @include padding($spacing_1, $spacing_2);
}

.acf-no-padding-top {
  padding-top: 0;
  padding-bottom: $spacing_2;

  @include breakpoint(desktop) {
    padding-bottom: $spacing_3;
  }
}

.acf-no-padding-bottom {
  padding-top: $spacing_2;
  padding-bottom: 0;

  @include breakpoint(desktop) {
    padding-top: $spacing_3;
  }
}

.acf-no-padding {
  padding: 0;
}
