@function em($pixels, $context: $base_font_size_px) {
  @if (math.is-unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (math.is-unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) * 1em;
}

@function rem($pixels, $context: 10) {
  @if (math.is-unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (math.is-unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) * 1rem;
}
