@import '../configs/maps/colors';

/** Font */
$font_base: source-sans-pro, sans-serif;

$font_secondary: false;
$letter_spacing: false;

$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_medium: 600;
$font_weight_bold: 700;
$font_weight_black: 900;

$base_font_size: #{calc($base_font_size_px / 10)}rem;

$spacing: 0.8rem;
$spacing_1: spacing;
$spacing_2: $spacing * 2;
$spacing_3: $spacing * 3;
$spacing_4: $spacing * 4;
$spacing_5: $spacing * 5;
