.acf-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  order: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;

  &--sm {
    background-repeat: no-repeat;

    @include media('xl') {
      display: none;
    }
  }

  &--md {
    display: none;
    height: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;

    @include media('xl') {
      display: block;
    }
  }

  &-hide {
    &-mobile {
      @media #{$navbar_until_breakpoint} {
        display: none;
      }
    }

    &-desktop {
      @media #{$navbar_breakpoint} {
        display: none;
      }
    }
  }
}
