@mixin padding($xs-padding, $desktop-padding) {
  padding-top: $xs-padding;
  padding-bottom: $xs-padding;

  @include breakpoint(desktop) {
    padding-top: $desktop-padding;
    padding-bottom: $desktop-padding;
  }
}

@mixin padding-top($xs-padding, $desktop-padding) {
  padding-top: $xs-padding;
  padding-bottom: $padding_xs_normal;

  @include breakpoint(desktop) {
    padding-top: 0;
    padding-bottom: $desktop-padding;
  }
}

@mixin padding-bottom($xs-padding, $desktop-padding) {
  padding-top: $padding_xs_normal;
  padding-bottom: $xs-padding;

  @include breakpoint(desktop) {
    padding-top: $desktop-padding;
    padding-bottom: 0;
  }
}

.acf-normal-padding {
  @include padding($padding_xs_normal, $padding_normal);
}

.acf-large-padding {
  @include padding($padding_xs_large, $padding_large);
}

.acf-small-padding {
  @include padding($padding_xs_small, $padding_small);
}

.acf-smallest-padding {
  @include padding($padding_xs_smallest, $padding_smallest);
}

.acf-no-padding-top {
  padding-top: 0;
  padding-bottom: $padding_xs_normal;

  @include breakpoint(desktop) {
    padding-bottom: $padding_normal;
  }
}

.acf-no-padding-bottom {
  padding-top: $padding_xs_normal;
  padding-bottom: 0;

  @include breakpoint(desktop) {
    padding-top: $padding_normal;
  }
}

.acf-no-padding {
  padding: 0;
}
